{% extends "layout/base.html" %}
{% block content %}
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Equipment</h1>
    </div>

    <!-- Content Row -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            {% if equipment_obj %} Edit
            {% else %} Create {% endif %}
            Equipment
          </h6>
      </div>
      <div class="card-body">
      <form id="formid" action="" method="POST" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group form-row">
          <label for="name" class="col-4 col-form-label">Equipment</label>
          <div class="col-8">
            <!--<input id="name" name="name" placeholder="Name " type="text" required="required" class="form-control">-->
            {{ form.name}}
          </div>
        </div>
        <div class="form-group form-row">
          <label for="locate" class="col-4 col-form-label">Location</label>
            <div class="col-8">
              <!--<input id="locate_id" name="locate" placeholder="locate" type="text" required="required" class="form-control">-->
              {{ form.locate_id}}
            </div>
        </div>
        <div class="form-group form-row">
          <label for="qr_code" class="col-4 col-form-label">QR Code</label>
            <div class="col-8">
              <!--<input id="qr_code" name="locate" placeholder="qr code" type="text" required="required" class="form-control">-->
              {{ form.qr_code }}
            </div>
        </div>
        <div class="form-group form-row">
          <label for="is_active" class="col-4 col-form-label">Is Active</label>
            <div>
              {{ form.is_active }}
            </div>
        </div>
        <div class="form-group form-row">
          <label for="description" class="col-4 col-form-label">Description</label>
          <div class="col-8">
            <!--<textarea id="description" name="description" cols="40" rows="5" class="form-control"></textarea>-->
            {{ form.description}}
          </div>
        </div>
        <div class="form-group form-row">
          <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'Equipment:Equipment_List' %}" class="btn btn-danger" id="create_equipment_cancel">Cancel</a>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>

{% endblock content %}
