{% extends "layout/base.html" %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Equipment Detail</h1>
  <div class="row">
    <div class="col-lg-12 text-right">
      <span class="d-lg-inline"><a class="btn btn-danger" href="{% url 'Equipment:Equipment_List'%}"><i class="fa fa-window-close"></i></a></span>
    </div>
  </div>
  <div class="card shadow">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Equipment {{equipment.name}}</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="id" class="col-form-label font-weight-bold">ID Equipment</label>
              <input type="text" class="form-control" value="{{equipment.id}}" readonly="readonly"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="name" class="col-form-label font-weight-bold">Name</label>
              <input type="text" class="form-control" value="{{equipment.name}}" readonly="readonly"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="location" class="col-form-label font-weight-bold">Location</label>
              <input type="text" class="form-control" value="{{equipment.locate_id}}" readonly="readonly"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="id" class="col-form-label font-weight-bold">Model</label>
              <input type="text" class="form-control" value="{{equipment.model}}" readonly="readonly"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="name" class="col-form-label font-weight-bold">Type</label>
              <input type="text" class="form-control" value="{{equipment.type}}" readonly="readonly"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="location" class="col-form-label font-weight-bold">Merek</label>
              <input type="text" class="form-control" value="{{equipment.merek}}" readonly="readonly"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="id" class="col-form-label font-weight-bold">Panjang</label>
              <input type="text" class="form-control" value="{{equipment.panjang}}" readonly="readonly"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="name" class="col-form-label font-weight-bold">Lebar</label>
              <input type="text" class="form-control" value="{{equipment.lebar}}" readonly="readonly"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="location" class="col-form-label font-weight-bold">Tinggi</label>
              <input type="text" class="form-control" value="{{equipment.tinggi}}" readonly="readonly"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="qr_code" class="col-form-label font-weight-bold">QR Code</label>
              <input type="text" class="form-control" value="{{equipment.qr_code}}" readonly="readonly"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="created_on" class="col-form-label font-weight-bold">Created On</label>
              <input type="text" class="form-control" value="{{equipment.created_on}}" readonly="readonly"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="updated_on" class="col-form-label font-weight-bold">Update On</label>
              <input type="text" class="form-control" value="{{equipment.updated_on}}" readonly="readonly"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="is_active" class="col col-form-label font-weight-bold">Is Active</label>
              <input type="checkbox" class="form-control"
              {% if equipment.is_active == True %}
              checked="checked"
              {% else %}

              {% endif %}
              disabled="disabled" readonly="readonly"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="created_by" class="col-form-label font-weight-bold">Created By</label>
              <input type="text" class="form-control" value="{{equipment.created_by}}" readonly="readonly"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="updated_by" class="col-form-label font-weight-bold">Update By</label>
              <input type="text" class="form-control" value="{{equipment.updated_by}}" readonly="readonly"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-12 ml-auto mr-auto">
            <div class="form-group">
              <label for="description" class="col-form-label font-weight-bold">Description</label>
              <textarea class="form-control" name="description" rows="3" cols="100" readonly="readonly">{{equipment.description}}</textarea>
            </div>
          </div>
      </div>
  </div>
</div>
<!-- /.container-fluid -->
{% endblock content %}
