{% extends "layout/base.html" %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Location Detail</h1>
  <div class="row">
    <div class="col-lg-12 text-right">
      <span class="d-lg-inline"><a class="btn btn-danger" href="{% url 'Equipment:Equipment_List'%}"><i class="fa fa-window-close"></i></a></span>
    </div>
  </div>
  <div class="card shadow">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Location</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="id" class="col-form-label font-weight-bold">ID Location</label>
              <input type="text" class="form-control" value="{{locate.id}}" readonly="readonly"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="id" class="col-form-label font-weight-bold">Name</label>
              <input type="text" class="form-control" value="{{locate.name}}" readonly="readonly"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="id" class="col-form-label font-weight-bold">Parent</label>
              <input type="text" class="form-control" value="{{locate.parent}}" readonly="readonly"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="id" class="col-form-label font-weight-bold">Is Active</label>
              <input type="checkbox" class="form-control"
              {% if locate.is_active == True %}
              checked="checked"
              {% else %}

              {% endif %}
              disabled="disabled" readonly="readonly"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="id" class="col-form-label font-weight-bold">Created On</label>
              <input type="text" class="form-control" value="{{locate.created_on}}" readonly="readonly"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="id" class="col-form-label font-weight-bold">Created By</label>
              <input type="text" class="form-control" value="{{locate.created_by}}" readonly="readonly"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">

            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="id" class="col-form-label font-weight-bold">Update On</label>
              <input type="text" class="form-control" value="{{locate.updated_on}}" readonly="readonly"/>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="form-group">
              <label for="id" class="col-form-label font-weight-bold">Update By</label>
              <input type="text" class="form-control" value="{{locate.updated_by}}" readonly="readonly"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-12 ml-auto mr-auto">
            <div class="form-group">
              <label for="id" class="col-form-label font-weight-bold">Description</label>
              <textarea class="form-control" name="description" rows="3" cols="100" readonly="readonly">{{locate.description}}</textarea>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- /.container-fluid -->
{% endblock content %}
