{% extends "layout/base.html" %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Status Detail</h1>
  <div class="row">
    <div class="col-lg-12 text-right">
      <span class="d-lg-inline"><a class="btn btn-danger" href="{% url 'Activity:Status_List'%}"><i class="fa fa-window-close"></i></a></span>
    </div>
  </div>
  <div class="card shadow">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Status</h6>
      </div>
      <div class="card-body">
        <div class="row">
          {% if status.id %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 ml-auto mr-auto">
            <div class="form-group">
              <label for="id" class="col-form-label">ID</label>
              <div class="form-control">{{status.id}}</div>
            </div>
          </div>
          {% endif %}
          {% if status.name %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 mx-auto">
            <div class="form-group">
              <label for="equipment_ids" class="col-form-label">Status Name</label>
              <div class="form-control">{{status.name}}</div>
            </div>
          </div>
          {% endif %}
          {% if status.is_active %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 mx-auto">
            <div class="form-group">
              <label for="is_active" class="col-form-label">Is Active</label>
              <div class="form-control">{{status.is_active}}</div>
            </div>
          </div>
          {% endif %}
          {% if status.description %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 mx-auto">
            <div class="form-group">
              <label for="description" class="col-form-label">Description</label>
              <div class="form-control">{{status.description}}</div>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="row">
          {% if status.created_on %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 mx-auto">
            <div class="form-group">
              <label for="created_on" class="col-form-label">Created On</label>
              <div class="form-control">{{status.created_on}}</div>
            </div>
          </div>
          {% endif %}
          {% if status.updated_on %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 mx-auto">
            <div class="form-group">
              <label for="updated_on" class="col-form-label">Update On</label>
              <div class="form-control">{{status.updated_on}}</div>
            </div>
          </div>
          {% endif %}
          {% if status.created_by%}
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 mx-auto">
            <div class="form-group">
              <label for="created_by" class="col-form-label">Created By</label>
              <div class="form-control">{{status.created_by}}</div>
            </div>
          </div>
          {% endif %}
          {% if status.updated_by %}
          <div class="col-12 col-sm-12 col-md-6 col-lg-3 mx-auto">
            <div class="form-group">
              <label for="updated_by" class="col-form-label">Update By</label>
              <div class="form-control">{{status.updated_by}}</div>
            </div>
          </div>
          {% endif %}
      </div>
  </div>
</div>
<!-- /.container-fluid -->
{% endblock content %}
